html,
body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: rgb(34, 193, 195)!important;
    background: rgba(15, 154, 181, 1.0);
    background: linear-gradient(to left, rgba(15, 154, 181, 1.0), rgba(1, 255, 248, 1.0)) !important;
    position: relative;
}

.cl {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 3px 3px 20px 0px rgba(255, 60, 117, 0.88);
}

.cl img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.circle1 {
    background: rgba(214, 152, 112, 1.0);
    background: radial-gradient(ellipse at center, rgba(214, 152, 112, 1.0), rgba(79, 182, 106, 1.0));
}

.circle2 {
    background: rgba(214, 112, 140, 1.0);
    background: radial-gradient(ellipse at center, rgba(214, 112, 140, 1.0), rgba(177, 182, 79, 1.0));
}

.circle3 {
    background: rgba(214, 38, 37, 1.0);
    background: -webkit-radial-gradient(center, rgba(214, 38, 37, 1.0), rgba(8, 214, 245, 1.0));
    background: -moz-radial-gradient(center, rgba(214, 38, 37, 1.0), rgba(8, 214, 245, 1.0));
    background: radial-gradient(ellipse at center, rgba(214, 38, 37, 1.0), rgba(8, 214, 245, 1.0));
}

.login {
    box-shadow: 2px 2px 30px 0px rgba(85, 85, 83, 0.88);
    width: 60%;
    height: 70%;
    margin-top: 7%;
    transform: translateX(370px);
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    perspective: 10000px;
}

.login .header.text-center img {
    width: 80%;
    height: 80%;
    margin-top: 25%;
    transition: 1.5s;
}

.login .header.text-center .row .col-md-4:hover img {
    transform: translateZ(1000px) rotateY(25deg);
}

form {
    margin-top: 100px;
}

form input,
button {
    border-radius: 40px!important;
    height: 50px!important;
    margin-bottom: 20px;
}

form button {
    margin-top: 30px;
    margin-bottom: 10px;
}

.login .header.text-center .row .col-md-8.col-md-push-2.form-group-lg h4 {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.login .header.text-center .row .col-md-8.col-md-push-2.form-group-lg h4 span {
    color: gray;
}

.login .header.text-center h1 {
    font-family: 'Londrina Solid', cursive;
    margin-top: 30px;
}

.new h4 {
    margin-top: 150px;
}

.login .header.text-center .row .col-md-8.col-md-push-2.form-group-lg.new h4 i {
    display: inline-block;
    transition: 1.5s;
}

.login .header.text-center .row .col-md-8.col-md-push-2.form-group-lg.new h4:hover i {
    transform: translateX(100px);
}


/* 3d */

.box {
    position: absolute;
    perspective: 1000px;
    top: -300px;
    right: 70px;
    animation-name: bl;
    animation-duration: 15s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

.parent {
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transition: 3s;
    animation-name: bl1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.div {
    width: 150px;
    height: 150px;
    position: absolute;
    text-align: center;
    background-size: cover;
    background-repeat: none;
    box-sizing: border-box;
    border: 2px solid white;
    cursor: pointer;
}

.div6 {
    background-image: url(https://20167063.github.io/cafe/assets/images/menu-item-01.jpg);
}

.div2 {
    transform: translateX(100%) rotateY(90deg);
    transform-origin: 0;
    background-color: rgb(60, 255, 0);
    background-image: url(https://20167063.github.io/cafe/assets/images/menu-item-02.jpg);
}

.div3 {
    transform: translateX(-100%) rotateY(-90deg);
    transform-origin: 100% 0;
    background-color: rgb(0, 132, 255);
    background-image: url(https://20167063.github.io/cafe/assets/images/menu-item-03.jpg);
}

.div4 {
    transform: translateY(-100%) rotateX(90deg);
    transform-origin: 0% 100%;
    background-color: rgb(0, 255, 234);
    background-image: url(https://20167063.github.io/cafe/assets/images/menu-item-04.jpg);
}

.div5 {
    transform: rotateX(90deg);
    transform-origin: 0% 100%;
    background-color: rgb(255, 0, 234);
    background-image: url(https://20167063.github.io/cafe/assets/images/menu-item-05.jpg);
}

.div1 {
    transform: translateZ(-150px);
    background-color: rgb(255, 0, 0);
    background-image: url(https://20167063.github.io/cafe/assets/images/menu-item-02.jpg);
}

.parent:hover {
    transform: rotateY(180deg);
}

@keyframes bl {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(1130px);
    }
    30% {
        transform: translateY(400px);
    }
    40% {
        transform: translateY(450px);
    }
    50% {
        transform: translateY(550px);
    }
    60% {
        transform: translateY(800px);
    }
    100% {
        transform: translateY(350px);
    }
}

@keyframes bl1 {
    0% {
        transform: rotateX(10deg) rotateY(45deg) rotateZ(24deg);
    }
    20% {
        transform: rotateX(30deg) rotateY(60deg) rotateZ(43deg);
    }
    30% {
        transform: rotateX(70deg) rotateY(80deg) rotateZ(71deg);
    }
    40% {
        transform: rotateX(22deg) rotateY(115deg) rotateZ(45deg);
    }
    50% {
        transform: rotateX(79deg) rotateY(45deg) rotateZ(57deg);
    }
    60% {
        transform: rotateX(47deg) rotateY(24deg) rotateZ(111deg);
    }
    100% {
        transform: rotateX(12deg) rotateY(95deg) rotateZ(138deg);
    }
}