$font-famyli1:'Orelega One',
cursive;
$font-famyli2:'';
$font-famyli3:'';
$color-main:#573ba2;
$color-text-category:#2b0f42;
$color-text:#ffeee6;
$background-color-button:#de2454;
$background-footer-top:#ffeee6;
$background-footer-bottom:#2b0f42;
.slide-category-book {
    .title-book {
        img {
            width: 70px;
            height: 70px;
            border-radius: 35px;
        }
        a.text {
            text-decoration: none;
            font-size: 34px;
            font-family: GT Super Bold, serif;
            color: #2b0f42;
            letter-spacing: -0.6px;
            line-height: 37px;
            font-weight: bold;
            width: 980px;
            display: inline-block;
        }
        a.more {
            background-color: #de2454;
            color: white;
            font-size: 17px;
            font-weight: 600;
            border-radius: 30px;
            padding: 6px 15px;
            float: right;
            text-decoration: none;
        }
    }
    .list-book-img {
        margin: 15px 0 100px 0;
        width: 100%;
        overflow-x: hidden;
        overflow-x: scroll;
        position: relative;
        .list {
            display: flex;
            width: auto;
            .book {
                box-sizing: border-box;
                margin: 3px 5px;
                img {
                    box-sizing: border-box;
                    border-radius: 5px;
                    width: 170px;
                    display: block;
                    &:hover {
                        box-shadow: 0px 0px 29px 0px rgba(53, 62, 99, 0.65);
                        width: 174px;
                    }
                }
                box-shadow: 0px 0px 12px 0px rgba(74, 50, 50, 0.55);
            }
        }
        .button-control {
            position: absolute;
            width: 100%;
            top: 40%;
            div {
                z-index: 100;
                &:first-child {
                    margin-left: -33px;
                    float: left;
                }
                &:last-child {
                    float: right;
                    margin-right: -33px;
                }
            }
        }
    }
    .list-book-infor {
        &:last-child {
            margin-bottom: 100px;
        }
        padding: 20px 0px 15px 0px;
        border-width: 0 0 1px 0;
        border-color: rgb(204, 189, 189);
        border-style: solid;
        img {
            height: 190px;
            box-sizing: border-box;
            width: 100%;
            box-shadow: 0px 0px 12px 0px rgba(74, 50, 50, 0.55);
            &:hover {
                box-shadow: 0px 0px 29px 0px rgba(53, 62, 99, 0.65);
                height: 195px;
            }
        }
        .infor {
            font-family: GT Super Bold, serif;
            line-height: 1.25;
            font-size: 20px;
            color: $color-text-category;
            letter-spacing: -0.1px;
        }
        .author {
            font-size: 15px;
            color: rgb(170, 159, 159);
        }
        .price {
            margin-top: 10px;
            .first-price {
                display: inline-block;
                width: 70px;
                letter-spacing: 0.3px;
                font-weight: 500;
                del {
                    color: $background-color-button;
                }
            }
            .last-price {
                display: inline-block;
                width: 70px;
                color: $background-footer-bottom;
            }
        }
    }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}