.slide-category-book .title-book img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}

.slide-category-book .title-book a.text {
  text-decoration: none;
  font-size: 34px;
  font-family: GT Super Bold, serif;
  color: #2b0f42;
  letter-spacing: -0.6px;
  line-height: 37px;
  font-weight: bold;
  width: 980px;
  display: inline-block;
}

.slide-category-book .title-book a.more {
  background-color: #de2454;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 30px;
  padding: 6px 15px;
  float: right;
  text-decoration: none;
}

.slide-category-book .list-book-img {
  margin: 15px 0 100px 0;
  width: 100%;
  overflow-x: hidden;
  overflow-x: scroll;
  position: relative;
}

.slide-category-book .list-book-img .list {
  display: flex;
  width: auto;
}

.slide-category-book .list-book-img .list .book {
  box-sizing: border-box;
  margin: 3px 5px;
  box-shadow: 0px 0px 12px 0px rgba(74, 50, 50, 0.55);
}

.slide-category-book .list-book-img .list .book img {
  box-sizing: border-box;
  border-radius: 5px;
  width: 170px;
  display: block;
}

.slide-category-book .list-book-img .list .book img:hover {
  box-shadow: 0px 0px 29px 0px rgba(53, 62, 99, 0.65);
  width: 174px;
}

.slide-category-book .list-book-infor {
  padding: 20px 0px 15px 0px;
  border-width: 0 0 1px 0;
  border-color: #ccbdbd;
  border-style: solid;
}

.slide-category-book .list-book-infor:last-child {
  margin-bottom: 100px;
}

.slide-category-book .list-book-infor img {
  height: 190px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0px 0px 12px 0px rgba(74, 50, 50, 0.55);
}

.slide-category-book .list-book-infor img:hover {
  box-shadow: 0px 0px 29px 0px rgba(53, 62, 99, 0.65);
  height: 195px;
}

.slide-category-book .list-book-infor .infor {
  font-family: GT Super Bold, serif;
  line-height: 1.25;
  font-size: 20px;
  color: #2b0f42;
  letter-spacing: -0.1px;
}

.slide-category-book .list-book-infor .author {
  font-size: 15px;
  color: #aa9f9f;
}

.slide-category-book .list-book-infor .price {
  margin-top: 10px;
}

.slide-category-book .list-book-infor .price .first-price {
  display: inline-block;
  width: 70px;
  letter-spacing: 0.3px;
  font-weight: 500;
}

.slide-category-book .list-book-infor .price .first-price del {
  color: #de2454;
}

.slide-category-book .list-book-infor .price .last-price {
  display: inline-block;
  width: 70px;
  color: #2b0f42;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
