$font-famyli1:'Orelega One',
cursive;
$font-famyli2:'Zen Dots',
cursive;
$color-main:white;
$color-text-category:#2b0f42;
$color-text:#ffeee6;
$background-color-button:#de2454;
$background-footer-top:#ffeee6;
$background-footer-bottom:#2b0f42;
header {
    nav.navbar {
        // position: fixed;
        .navbar-brand {
            img {
                width: 60px;
                height: 60px;
                border-radius: 30px;
            }
        }
        .navbar-text {
            text-decoration: none;
            font-size: 25px;
            font-family: GT Super Bold, serif;
            color: #2b0f42;
            letter-spacing: -0.6px;
            line-height: 30px;
            font-weight: bold;
            width: 500px;
            display: inline-block;
        }
        background-color: $color-main;
        ul {
            padding-top: 10px;
            list-style: none;
            li {
                a {
                    font-family: $font-famyli1;
                    font-size: 15px;
                    color: gray!important;
                    i {
                        color: gray;
                        font-weight: 500;
                    }
                }
                &:last-child {
                    a {
                        font-size: 25px;
                        padding-top: 4px;
                    }
                }
            }
        }
    }
}

.alert {
    margin: 0!important;
}

.total-infor {
    border-width: 1px 0 1px 0;
    border-color: gray;
    border-style: solid;
    a {
        display: inline-block;
        padding: 5px;
    }
}

div.img {
    height: 450px;
    background-color: #573ba3;
    .list-img-book {
        width: 900px;
        height: 10000px;
        padding-left: -200px;
        .list-book {
            img {
                width: 100%;
            }
            width: 180px;
            height: 10000px;
            transform: rotate(-38deg);
            transform-origin: 0 0%;
        }
        // transform:rotate(30deg);
    }
    .logo {
        .text {
            margin-top: 100px;
            font-size: 17px;
            color: white;
        }
        .img {
            .col.col-3 {
                margin-top: 20px;
                img {
                    width: 55px;
                }
                padding:10px;
                border:1px solid white;
                width:80px;
                border-radius: 40px;
                margin-left: 15px;
            }
            .col.col-4 {
                color: white;
                margin-top: 40px;
            }
        }
    }
    overflow: hidden;
}

main {
    .title.text-center {
        margin: 20px;
    }
    .list-book {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .book {
            margin-bottom: 50px;
            width: 250px;
            height: 533px;
            margin-right: 9px;
            background-color: white;
            border-radius: 7px;
            .img-book {
                border-radius: 5px;
                padding: 10px 15px;
                width: 250px;
                height: auto;
                background-color: #ecebed;
                height: 325px;
                img {
                    transition: 0.3s;
                    border-radius: 5px;
                    width: 220px;
                    height: 305px;
                    box-shadow: 0px 0px 12px 0px rgba(74, 50, 50, 0.55);
                    transform-origin: 50% 50%;
                    &:hover {
                        width: 223px;
                        height: 310px;
                    }
                }
            }
            .text-book {
                .title {
                    font-size: 18px;
                    line-height: 1;
                    margin: 5px 4px;
                    font-weight: 400;
                    font-family: $font-famyli2;
                }
                .author {
                    font-size: 15px;
                    margin: -1px 4px;
                    color: brown;
                    font-weight: 500;
                }
                .price {
                    p {
                        font-size: 17px;
                        margin: 4px auto 3px 4px;
                        font-weight: 700;
                        del {
                            color: #de2454;
                        }
                    }
                }
            }
            .button-control {
                button {
                    background-color: #de2454;
                    color: white;
                    padding: 5px 20px;
                    width: 90%;
                    margin: 8px auto 10px 5%;
                    border-radius: 30px;
                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }
                    font-size:14px;
                }
            }
        }
        justify-content:start;
    }
}

footer {
    margin-top: 100px;
    .bottom-footer {
        padding: 70px!important;
        background-color: $background-footer-bottom;
        .nav.flex-column {
            li {
                a {
                    color: white;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 2;
                }
            }
        }
        .nav.icon-bottom {
            margin-top: 7px;
            li {
                i {
                    color: white;
                    margin-right: 7px;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
        form.search {
            padding: 5px 0px 5px 15px;
            border-radius: 30px;
            width: 300px;
            margin: auto;
            display: block;
            margin-top: 65px;
            background-color: white;
            input {
                width: 230px;
                height: 40px;
                border: transparent;
            }
            button {
                background-color: transparent;
                border: none;
                img {
                    width: 40px;
                }
            }
        }
        .logo {
            p {
                color: #837391;
                font-weight: 700;
                font-size: 13px;
            }
        }
        .nav.button {
            margin-top: 10px;
            button {
                background-color: #de2454;
                color: white;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 600;
                padding: 5px 25px;
                border-radius: 30px;
                margin-right: 10px;
            }
        }
    }
}