header nav.navbar {
  background-color: white;
}

header nav.navbar .navbar-brand img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

header nav.navbar .navbar-text {
  text-decoration: none;
  font-size: 25px;
  font-family: GT Super Bold, serif;
  color: #2b0f42;
  letter-spacing: -0.6px;
  line-height: 30px;
  font-weight: bold;
  width: 500px;
  display: inline-block;
}

header nav.navbar ul {
  padding-top: 10px;
  list-style: none;
}

header nav.navbar ul li a {
  font-family: "Orelega One", cursive;
  font-size: 15px;
  color: gray !important;
}

header nav.navbar ul li a i {
  color: gray;
  font-weight: 500;
}

header nav.navbar ul li:last-child a {
  font-size: 25px;
  padding-top: 4px;
}

.alert {
  margin: 0 !important;
}

.total-infor {
  border-width: 1px 0 1px 0;
  border-color: gray;
  border-style: solid;
}

.total-infor a {
  display: inline-block;
  padding: 5px;
}

main {
  padding: 20px 20px;
  background-color: #f6f5f7;
}

main .form-register {
  width: 100% / 2;
  padding-bottom: 100px;
}

main .form-register h1 {
  font-family: GT Super Bold, serif;
  font-size: 45px;
  letter-spacing: -1px;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

main .form-register .text-infor {
  margin: 20px auto 10px auto;
  background-color: white;
  padding: 25px;
  font-size: 15px;
  font-weight: 900;
  color: #414188;
  border-radius: 5px;
  border: 1px solid #a79a9a;
}

main .form-register form {
  padding: 25px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #a79a9a;
}

main .form-register form .form-text {
  font-size: 15px;
}

main .form-register form .form-text a {
  color: #de2454;
  text-decoration: none;
}

main .form-register form button[type="submit"] {
  border-radius: 30px;
  padding: 5px 25px;
  font-weight: bold;
  color: white;
  background-color: #de2454;
  border: none;
  margin-top: 20px;
}

footer .bottom-footer {
  padding: 70px !important;
  background-color: #2b0f42;
}

footer .bottom-footer .nav.flex-column li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 2;
}

footer .bottom-footer .nav.icon-bottom {
  margin-top: 7px;
}

footer .bottom-footer .nav.icon-bottom li i {
  color: white;
  margin-right: 7px;
  font-weight: bold;
  font-size: 20px;
}

footer .bottom-footer form.search {
  padding: 5px 0px 5px 15px;
  border-radius: 30px;
  width: 300px;
  margin: auto;
  display: block;
  margin-top: 65px;
  background-color: white;
}

footer .bottom-footer form.search input {
  width: 230px;
  height: 40px;
  border: transparent;
}

footer .bottom-footer form.search button {
  background-color: transparent;
  border: none;
}

footer .bottom-footer form.search button img {
  width: 40px;
}

footer .bottom-footer .logo p {
  color: #837391;
  font-weight: 700;
  font-size: 13px;
}

footer .bottom-footer .nav.button {
  margin-top: 10px;
}

footer .bottom-footer .nav.button button {
  background-color: #de2454;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 25px;
  border-radius: 30px;
  margin-right: 10px;
}
