$font-famyli1:'Orelega One',
cursive;
$font-famyli2:'Zen Dots',
cursive;
$color-main:white;
$color-text-category:#2b0f42;
$color-text:#ffeee6;
$background-color-button:#de2454;
$background-footer-top:#ffeee6;
$background-footer-bottom:#2b0f42;
body {
    overflow-x: hidden;
}

header {
    nav.navbar {
        // position: fixed;
        .navbar-brand {
            img {
                width: 60px;
                height: 60px;
                border-radius: 30px;
            }
        }
        .navbar-text {
            text-decoration: none;
            font-size: 25px;
            font-family: GT Super Bold, serif;
            color: #2b0f42;
            letter-spacing: -0.6px;
            line-height: 30px;
            font-weight: bold;
            width: 500px;
            display: inline-block;
        }
        background-color: $color-main;
        ul {
            padding-top: 10px;
            list-style: none;
            li {
                a {
                    font-family: $font-famyli1;
                    font-size: 15px;
                    color: gray!important;
                    i {
                        color: gray;
                        font-weight: 500;
                    }
                }
                &:last-child {
                    a {
                        font-size: 25px;
                        padding-top: 4px;
                    }
                }
            }
        }
    }
}

.alert {
    margin: 0!important;
}

.total-infor {
    border-width: 1px 0 1px 0;
    border-color: gray;
    border-style: solid;
    a {
        display: inline-block;
        padding: 5px;
    }
}

main {
    .col.col-12 {
        width: 100%;
        height: 80px;
        background-color: gray;
    }
    .col.col-8 {
        iframe {
            width: 100%;
            height: 500px;
            margin: 0;
            padding: 0;
        }
    }
    .col.col-4 {
        height: 500px;
        background-color: white;
    }
}

footer {
    .bottom-footer {
        padding: 70px!important;
        background-color: $background-footer-bottom;
        .nav.flex-column {
            li {
                a {
                    color: white;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 2;
                }
            }
        }
        .nav.icon-bottom {
            margin-top: 7px;
            li {
                i {
                    color: white;
                    margin-right: 7px;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
        form.search {
            padding: 5px 0px 5px 15px;
            border-radius: 30px;
            width: 300px;
            margin: auto;
            display: block;
            margin-top: 65px;
            background-color: white;
            input {
                width: 230px;
                height: 40px;
                border: transparent;
            }
            button {
                background-color: transparent;
                border: none;
                img {
                    width: 40px;
                }
            }
        }
        .logo {
            p {
                color: #837391;
                font-weight: 700;
                font-size: 13px;
            }
        }
        .nav.button {
            margin-top: 10px;
            button {
                background-color: #de2454;
                color: white;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 600;
                padding: 5px 25px;
                border-radius: 30px;
                margin-right: 10px;
            }
        }
    }
}