$font-famyli1:'Orelega One',
cursive;
$font-famyli2:'';
$font-famyli3:'';
$color-main:#573ba2;
$color-text-category:#2b0f42;
$color-text:#ffeee6;
$background-color-button:#de2454;
$background-footer-top:#ffeee6;
$background-footer-bottom:#2b0f42;
html,
body {
    overflow-x: hidden;
}