html,body {
    width: 100%;
    height: 100%;

    overflow-x:hidden;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: black;
    height: 35px;

}

header .text {
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    color: aquamarine;
    width: 332px;
    margin-left: 13%;
    float: left;
    line-height: 35px;
}

.icon {
    width: 160px;
    margin-right: 13%;
    float: right;
}

.icon ul {
    line-height: 35px;
    list-style: none;
}

.icon ul li {
    float: right;
    width: 21px;
    font-size: 13px;
    color:rgb(155, 140, 140);
    cursor: pointer;
}
.icon ul li:hover{
color:white;
}
.back-color {
    width: 100%;
    height: 300px;
    background: white;
}

.name {
    width: 500px;
    margin: auto;
    padding: 80px;
    text-align: center;
}
.name h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'RocknRoll One', sans-serif;
}
.name hr {
    width: 47px;
    display: inline-block;
    margin: 4px 7px;
}

.name b {color: darkgray;height: 30px;}
nav {
    width: 100%;
    height: 100px;
    border-top: 1px solid #e4d1d1;
    padding: 12px;
}

nav >ul {
    list-style: none;
    width: 520px;
    margin: auto;
}

nav >ul>li {
    padding:10px 20px;
    float: left;
    text-transform: uppercase;
    position: relative;
}
nav >ul>li::after{
    content: "";
    width:6px;
    height: 6px;
    position: absolute;
    top:13px;
    right: 5px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    border-color: yellow;
    border-style: solid;
    display: block;
}
nav >ul > li:hover{
    color:orange;
}
nav .box{
    position: absolute;
    padding:10px 20px;
    background-color: aliceblue;
    top:39px;
   left:0;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    width:190px;
transition: 0.4s;
}
nav li:hover .box{
visibility: visible;
opacity: 1;
}
.slider-container {
    width: 100%;
    height: 700px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider-img {
    width: 100%;
    
}

.slider img {
    width: 25%; 
    margin:0;
    padding:0;
    display: block;
    float: left; 
    margin-top:-220px;
}

.slider {
    width: 400%; 
    animation-name: slider;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes slider{
    0%,90%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-25%);
    }
    50%{
        transform: translateX(-50%);
    }
    75%{
        transform: translateX(-75%);
    }
}

i.fa.fa-arrow-left {
    float: left;
    position: absolute;
}

.icon.icon-left {
    width: 100%;
    top: 46%;
    position: absolute;
    font-size: 35px;
    color: white;}

i.fa.fa-arrow-left {
    float: left;
}

i.fa.fa-arrow-right {
    float: right;
}

.box ul {
    list-style: none;
}

.box ul li {
    padding: 10px 20px;
    display: block;
    height: 12px;
    color: gray;
}
.slider-container .text{
    position: absolute;
    text-align: center;
    margin: auto;
    width: 100%;
    top:45%
}
.slider-container .text hr{
    width: 70px;
    margin: auto;
    height: 2px;
}
.silder-container .text {
    position: absolute;
    top: 10px;
   
}

.slider-container .text h4 {
    font-size: 20px;
    color:white;
}

.slider-container .text h2 {
    font-size: 36px;
    color:white;
}

.button {
    padding: 7px;
    border: 2px solid white;
    width: 169px;
    margin: 10px auto;
    color:white;
    transition: 0.7s;
  cursor: pointer;
}
.button:hover{
    border: 4px solid white;
}
section{
    width: 65%;
    margin: auto;
    padding-top: 30px;
}

section figure{
    width:33.3333333333333333333333333333333333%;
    margin:0;
    float: left;
    position: relative;
    overflow:hidden;
}
section figure img{
    width: 100%;
    height: 220px;
    display:inline-block;
    padding:8px;
    transition-delay: 0.1s;
    box-sizing:content-box;
    position: relative;
    box-sizing: border-box;
}
section figure .box-border{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    border:3px solid white;
    z-index: 3;
    transform: scale(0.8);
    visibility: hidden;
    transition: 0.6s;
    opacity: 0;
}
section figure  button{
    width: 100%;
    height: 100%;
    font-size: 45px;
    font-weight: bold;
    transform: scaleX(0.3) scaleY(0.2);
    position: absolute;
    top:0;
    left:0;
}
section figure:hover .box-border{
    visibility: visible;
    opacity: 1;
}
section figure:hover img{
    transform: scale(1.1);
}
.left {
    width: 65%;
    float: left;
}

.left-text-infor {
    width: 100%;
    text-align: center;
}

.left-text-infor {
    width: 100%;
}

.left-img img {
    width: 100%;
}

.left-text-infor p{
    color:gray;
    margin:10px;
}
.left-text-infor p strong{
    color:rgb(214, 64, 37);

}
.left-text-infor h3{
    color:gray;
    font-style: oblique;
    margin:15px auto 7px auto;
}
.left-text-infor b{
    color:black;
    font-size: 25px;
}
.left-text-infor h4{
    color: rgb(180, 158, 158);
    font-size: 14px;
    margin-bottom:8px;
}
.left-text-infor h4 span{
    color:rgb(180, 179, 128)
}
.left-text{
    margin:20px auto auto auto;
    font-family:monospace;
    font-size: 15px;
    line-height: 18px;
}
.left-text p{
    margin:15px;
}
.right{
    float: right;
    width:30%;
}
.right .right-top {
    width: 100%;
    margin:7px;
    border-top:1px solid red;
    border-bottom:1px solid red;
    border-left:1px solid  rgb(197, 185, 185);
    border-right:1px solid  rgb(197, 185, 185);
    text-align: center;
}
.right .right-top h5{
padding: 20px;
color:gray;
border-bottom: 1px solid rgb(197, 185, 185);
}
.right .right-top  img{
    width:100%;
    transform: scale(0.7) translateY(-40px);
}
.right .right-top p{
    width:100%;
    transform: scale(0.7) translateY(-100px);
    color:rgb(168, 145, 145);
    font-size:23px;
}
.right .right-top h4{
    transform: scale(0.7) translateY(-60px);
    border:1px solid rgb(80, 71, 71);
    font-size: 20px;
    color:red;
    cursor: pointer;
    padding:20px 10px;
}
.right .right-top h4:hover{
    background-color: rgb(162, 182, 162);
}
