html,body {
    width: 100%;
    height: 100%;
    background-color: wheat;
    overflow-x:hidden;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: black;
    height: 35px;

}

.text {
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    color: aquamarine;
    width: 332px;
    margin-left: 13%;
    float: left;
    line-height: 35px;
}

.icon {
    width: 160px;
    margin-right: 13%;
    float: right;
}

.icon ul {
    line-height: 35px;
    list-style: none;
}

.icon ul li {
    float: right;
    width: 21px;
    font-size: 13px;
    color:rgb(155, 140, 140);
    cursor: pointer;
}
.icon ul li:hover{
color:white;
}
.back-color {
    width: 100%;
    height: 300px;
    background: white;
}

.name {
    width: 500px;
    margin: auto;
    padding: 80px;
    text-align: center;
}
.name h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'RocknRoll One', sans-serif;
}
.name hr {
    width: 47px;
    display: inline-block;
    margin: 4px 7px;
}

.name b {color: darkgray;height: 30px;}
nav {
    width: 100%;
    height: 100px;
    border-top: 1px solid #e4d1d1;
    padding: 12px;
}

nav >ul {
    list-style: none;
    width: 520px;
    margin: auto;
}

nav >ul>li {
    padding:10px 20px;
    float: left;
    text-transform: uppercase;
    position: relative;
}
nav >ul>li::after{
    content: "";
    width:6px;
    height: 6px;
    position: absolute;
    top:13px;
    right: 5px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    border-color: yellow;
    border-style: solid;
    display: block;
}
nav >ul > li:hover{
    color:orange;
}
nav .box{
    position: absolute;
    padding:10px 20px;
    background-color: aliceblue;
    top:39px;
   left:0;
    z-index: 3;
    visibility: hidden;

}
nav li:hover .box{
visibility: visible;
}
.slider-container {
    width: 100%;
    height: 700px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider-img {
    width: 100%;
    
}

.slider img {
    width: 25%; 
    margin:0;
    padding:0;
    display: block;
    float: left; 
    margin-top:-220px;
}

.slider {
    width: 400%; 
    animation-name: slider;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes slider{
    0%,90%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-25%);
    }
    50%{
        transform: translateX(-50%);
    }
    75%{
        transform: translateX(-75%);
    }
}

i.fa.fa-arrow-left {
    float: left;
    position: absolute;
}

.icon.icon-left {width: 100%;top: 46%;position: absolute;font-size: 35px;color: white;}

i.fa.fa-arrow-left {
    float: left;
}

i.fa.fa-arrow-right {
    float: right;
}