$font-famyli1:'Orelega One',
cursive;
$font-famyli2:'';
$font-famyli3:'';
$color-main:white;
$color-text-category:#2b0f42;
$color-text:#ffeee6;
$background-color-button:#de2454;
$background-footer-top:#ffeee6;
$background-footer-bottom:#2b0f42;
header {
    nav.navbar {
        .navbar-brand {
            img {
                width: 60px;
                height: 60px;
                border-radius: 30px;
            }
        }
        .navbar-text {
            text-decoration: none;
            font-size: 25px;
            font-family: GT Super Bold, serif;
            color: #2b0f42;
            letter-spacing: -0.6px;
            line-height: 30px;
            font-weight: bold;
            width: 500px;
            display: inline-block;
        }
        background-color: transparent!important;
        ul {
            li {
                a {
                    color: gray!important;
                    i {
                        color: gray!important;
                    }
                }
            }
        }
    }
}