header nav.navbar {
  background-color: white;
}

header nav.navbar .navbar-brand img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

header nav.navbar .navbar-text {
  text-decoration: none;
  font-size: 25px;
  font-family: GT Super Bold, serif;
  color: #2b0f42;
  letter-spacing: -0.6px;
  line-height: 30px;
  font-weight: bold;
  width: 500px;
  display: inline-block;
}

header nav.navbar ul {
  padding-top: 10px;
  list-style: none;
}

header nav.navbar ul li a {
  font-family: "Orelega One", cursive;
  font-size: 15px;
  color: gray !important;
}

header nav.navbar ul li a i {
  color: gray;
  font-weight: 500;
}

header nav.navbar ul li:last-child a {
  font-size: 25px;
  padding-top: 4px;
}

.alert {
  margin: 0 !important;
}

.total-infor {
  border-width: 1px 0 1px 0;
  border-color: gray;
  border-style: solid;
}

.total-infor a {
  display: inline-block;
  padding: 5px;
}

main .title .text {
  text-decoration: none;
  font-size: 34px;
  font-family: GT Super Bold, serif;
  color: #2b0f42;
  letter-spacing: -0.6px;
  line-height: 37px;
  font-weight: 900;
  width: 980px;
  margin-top: 30px;
  margin-bottom: 60px;
}

main .title button {
  float: right;
  background-color: #de2454;
  color: white;
  padding: 7px 13px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  display: block;
}

main .item {
  padding-top: 100px;
}

main .item .table tbody td img.img-book {
  width: 90%;
  box-shadow: 0px 0px 12px 0px rgba(74, 50, 50, 0.55);
  border-radius: 5px;
  height: 265px;
  margin: 10px 5%;
}

main .item .table tbody td h3 {
  margin-bottom: 3px;
}

main .item .table tbody td p {
  margin-bottom: 3px;
}

main .item .table tbody td h5 {
  margin-bottom: 15px;
}

main .item .table tbody td .icon {
  color: #1fa5a3;
}

main .item .table tbody td .icon i {
  color: #1fa5a3;
  margin-right: 5px;
}

main .item .table tbody td input[type="number"] {
  width: 70%;
}

main .item .table tbody td button {
  border: none;
  background-color: transparent;
}

main .item .table tbody td button img {
  width: 15px;
  height: auto;
}

main .item .table tbody td p {
  font-size: 20px;
  font-weight: 700;
  color: gray;
}

main .item .table tbody td p del {
  color: #de2454;
}

main .item .bottom-table {
  margin-top: 20px;
  float: right;
}

main .item .bottom-table .total {
  font-size: 15px;
}

main .item .bottom-table .total span {
  font-weight: bold;
}

main .item .bottom-table .img-bottom {
  margin-top: 15px;
  background-color: #ffeee6;
  padding: 20px 10px;
  border-radius: 5px;
}

main .item .bottom-table .img-bottom img {
  width: 40px;
  margin-right: 10px;
}

main .item .bottom-table .img-bottom span {
  font-size: 17px;
  font-weight: 700;
  color: #2b0f42;
}

main .item .button {
  font-size: 15px;
  margin-top: 30px;
}

main .item .button button {
  border-radius: 30px;
  padding: 5px 20px;
  font-weight: 700;
  margin-right: 10px;
}

main .item .button button:first-child {
  background-color: white;
  color: #de2454;
  border: 2px solid #de2454;
}

main .item .button button:last-child {
  background-color: #de2454;
  color: white;
}

main .end-item {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 15px;
  color: #2b0f42;
  font-weight: bold;
}

main .slide-category-book .title-book img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}

main .slide-category-book .title-book a.text {
  text-decoration: none;
  font-size: 34px;
  font-family: GT Super Bold, serif;
  color: #2b0f42;
  letter-spacing: -0.6px;
  line-height: 37px;
  font-weight: bold;
  width: 980px;
  display: inline-block;
}

main .slide-category-book .title-book a.more {
  background-color: #de2454;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 30px;
  padding: 6px 15px;
  float: right;
  text-decoration: none;
}

main .slide-category-book .list-book-img {
  margin: 15px 0 100px 0;
  width: 100%;
  overflow-x: hidden;
  overflow-x: scroll;
  position: relative;
}

main .slide-category-book .list-book-img .list {
  display: flex;
  width: auto;
}

main .slide-category-book .list-book-img .list .book {
  box-sizing: border-box;
  margin: 3px 5px;
  box-shadow: 0px 0px 12px 0px rgba(74, 50, 50, 0.55);
}

main .slide-category-book .list-book-img .list .book img {
  box-sizing: border-box;
  border-radius: 5px;
  width: 170px;
  display: block;
}

main .slide-category-book .list-book-img .list .book img:hover {
  box-shadow: 0px 0px 29px 0px rgba(53, 62, 99, 0.65);
  width: 174px;
}

main .slide-category-book .list-book-img .button-control {
  position: absolute;
  width: 100%;
  top: 40%;
}

main .slide-category-book .list-book-img .button-control div {
  z-index: 100;
}

main .slide-category-book .list-book-img .button-control div:first-child {
  margin-left: -33px;
  float: left;
}

main .slide-category-book .list-book-img .button-control div:last-child {
  float: right;
  margin-right: -33px;
}

footer {
  margin-top: 100px;
}

footer .bottom-footer {
  padding: 70px !important;
  background-color: #2b0f42;
}

footer .bottom-footer .nav.flex-column li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 2;
}

footer .bottom-footer .nav.icon-bottom {
  margin-top: 7px;
}

footer .bottom-footer .nav.icon-bottom li i {
  color: white;
  margin-right: 7px;
  font-weight: bold;
  font-size: 20px;
}

footer .bottom-footer form.search {
  padding: 5px 0px 5px 15px;
  border-radius: 30px;
  width: 300px;
  margin: auto;
  display: block;
  margin-top: 65px;
  background-color: white;
}

footer .bottom-footer form.search input {
  width: 230px;
  height: 40px;
  border: transparent;
}

footer .bottom-footer form.search button {
  background-color: transparent;
  border: none;
}

footer .bottom-footer form.search button img {
  width: 40px;
}

footer .bottom-footer .logo p {
  color: #837391;
  font-weight: 700;
  font-size: 13px;
}

footer .bottom-footer .nav.button {
  margin-top: 10px;
}

footer .bottom-footer .nav.button button {
  background-color: #de2454;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 25px;
  border-radius: 30px;
  margin-right: 10px;
}
