$font-famyli1:'Orelega One',
cursive;
$font-famyli2:'Zen Dots',
cursive;
$color-main:white;
$color-text-category:#2b0f42;
$color-text:#ffeee6;
$background-color-button:#de2454;
$background-footer-top:#ffeee6;
$background-footer-bottom:#2b0f42;
header {
    nav.navbar {
        // position: fixed;
        .navbar-brand {
            img {
                width: 60px;
                height: 60px;
                border-radius: 30px;
            }
        }
        .navbar-text {
            text-decoration: none;
            font-size: 25px;
            font-family: GT Super Bold, serif;
            color: #2b0f42;
            letter-spacing: -0.6px;
            line-height: 30px;
            font-weight: bold;
            width: 500px;
            display: inline-block;
        }
        background-color: transparent!important;
        ul {
            li {
                a {
                    color: gray!important;
                    i {
                        color: gray!important;
                    }
                }
            }
        }
    }
}

main {
    padding: 20px 20px;
    background-color: #f6f5f7;
    .form-register {
        width: 100% / 2;
        padding-bottom: 100px;
        h1 {
            font-family: GT Super Bold, serif;
            font-size: 45px;
            letter-spacing: -1px;
            margin-bottom: 0.5rem;
            font-weight: 700;
        }
        .text-infor {
            margin: 20px auto 10px auto;
            background-color: white;
            padding: 25px;
            font-size: 15px;
            font-weight: 900;
            color: rgb(65, 65, 136);
            border-radius: 5px;
            border: 1px solid rgb(167, 154, 154);
        }
        form {
            padding: 25px;
            background-color: white;
            border-radius: 5px;
            border: 1px solid rgb(167, 154, 154);
            .form-text {
                font-size: 15px;
                a {
                    color: $background-color-button;
                    text-decoration: none;
                }
            }
            button[type="submit"] {
                border-radius: 30px;
                padding: 5px 25px;
                font-weight: bold;
                color: white;
                background-color: $background-color-button;
                border: none;
                margin-top: 20px;
            }
        }
    }
}

footer {
    .bottom-footer {
        padding: 70px!important;
        background-color: $background-footer-bottom;
        .nav.flex-column {
            li {
                a {
                    color: white;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 2;
                }
            }
        }
        .nav.icon-bottom {
            margin-top: 7px;
            li {
                i {
                    color: white;
                    margin-right: 7px;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
        form.search {
            padding: 5px 0px 5px 15px;
            border-radius: 30px;
            width: 300px;
            margin: auto;
            display: block;
            margin-top: 65px;
            background-color: white;
            input {
                width: 230px;
                height: 40px;
                border: transparent;
            }
            button {
                background-color: transparent;
                border: none;
                img {
                    width: 40px;
                }
            }
        }
        .logo {
            p {
                color: #837391;
                font-weight: 700;
                font-size: 13px;
            }
        }
        .nav.button {
            margin-top: 10px;
            button {
                background-color: #de2454;
                color: white;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 600;
                padding: 5px 25px;
                border-radius: 30px;
                margin-right: 10px;
            }
        }
    }
}