header nav.navbar {
  background-color: transparent !important;
}

header nav.navbar .navbar-brand img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

header nav.navbar .navbar-text {
  text-decoration: none;
  font-size: 25px;
  font-family: GT Super Bold, serif;
  color: #2b0f42;
  letter-spacing: -0.6px;
  line-height: 30px;
  font-weight: bold;
  width: 500px;
  display: inline-block;
}

header nav.navbar ul li a {
  color: gray !important;
}

header nav.navbar ul li a i {
  color: gray !important;
}

div.img {
  height: 450px;
  background-color: #573ba3;
  overflow: hidden;
}

div.img .list-img-book {
  transform: translateY(-500px);
  width: 900px;
  height: 10000px;
}

div.img .list-img-book .list-book {
  width: 180px;
  height: 10000px;
  transform: rotate(38deg) translateX(300px);
  transform-origin: 0 0%;
}

div.img .list-img-book .list-book img {
  width: 98%;
  margin: 10px 15px;
  border-radius: 10px;
  box-shadow: -1px -1px 14px 0px rgba(99, 255, 92, 0.75);
}

div.img .infor {
  color: white;
  padding: 100px;
  margin-left: -170px;
}

div.img .infor h1 {
  font-weight: bold;
}

div.img .infor p {
  font-size: 20px;
  padding-right: 30px;
}

div.img .infor button {
  background-color: #de2454;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  padding: 5px 20px;
  border-radius: 30px;
  border: none;
}

main .container .row .col.col-4 {
  padding: 25px;
}

main .container .row .col.col-4 h3 {
  font-weight: 700px;
}

main .container .row .col.col-4 p {
  font-size: 18px;
  color: gray;
}

main .center {
  background-color: #eae9ed;
  padding: 60px 80px;
}

main .center img {
  width: 98%;
}

main .center h2 {
  margin-top: 170px;
  font-weight: 900;
}

main .center ul {
  counter-increment: total 0;
}

main .center ul li {
  line-height: 40px;
}

main .center ul li::before {
  counter-increment: total;
  content: counter(total);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  display: inline-block;
  border-radius: 15px;
  background-color: #573ba2;
  margin-right: 8px;
}

main .bottom h1 {
  font-weight: 600;
}

main .bottom p {
  font-size: 18px;
  padding: 15px 30px;
}

.img.bottom {
  background-color: #ffeee6;
}

.img.bottom .list-img-book {
  transform: translateY(100px);
}

.img.bottom .list-img-book .col.col-3 .list-book {
  box-shadow: 0;
  transform: rotate(-38deg) translateX(-50px) translateY(-200px);
}
