header nav.navbar {
  background-color: white;
}

header nav.navbar .navbar-brand img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

header nav.navbar .navbar-text {
  text-decoration: none;
  font-size: 25px;
  font-family: GT Super Bold, serif;
  color: #2b0f42;
  letter-spacing: -0.6px;
  line-height: 30px;
  font-weight: bold;
  width: 500px;
  display: inline-block;
}

header nav.navbar ul {
  padding-top: 10px;
  list-style: none;
}

header nav.navbar ul li a {
  font-family: "Orelega One", cursive;
  font-size: 15px;
  color: gray !important;
}

header nav.navbar ul li a i {
  color: gray;
  font-weight: 500;
}

header nav.navbar ul li:last-child a {
  font-size: 25px;
  padding-top: 4px;
}

main .alert {
  margin: 0 !important;
}

main .total-infor {
  border-width: 1px 0 1px 0;
  border-color: gray;
  border-style: solid;
}

main .total-infor a {
  display: inline-block;
  padding: 5px;
}

main section {
  margin-top: 50px;
}

main section .book img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 0px rgba(74, 50, 50, 0.55);
}

main section .book .title {
  margin-top: 20px;
  text-decoration: none;
  font-size: 34px;
  font-family: GT Super Bold, serif;
  color: #2b0f42;
  letter-spacing: -0.6px;
  line-height: 37px;
  font-weight: bold;
  width: 700px;
  display: inline-block;
}

main section .book .author {
  color: #b8a7a7;
  margin: 20px auto;
}

main section .book .author span {
  color: green;
}

main section .book .format .title {
  color: red;
  margin: 0 0 15px 0;
  font-size: 23px;
}

main section .book .format .box div.col {
  border-radius: 7px;
  border: 1px solid #2b0f42;
  box-sizing: border-box;
  width: 22%;
  margin-right: 15px;
  margin-left: 15px;
  padding: 15px 15px;
  box-shadow: 0px 0px 12px 0px rgba(74, 50, 50, 0.45);
}

main section .book .format .box div.col p {
  color: blue;
  margin: 2px;
}

main section .book .format .box div.col span {
  font-size: 15px;
  font-weight: bold;
}

main section .book .format .box div.col span del {
  color: #de2454;
  margin-right: 5px;
}

main section .book .format .box div.col:first-child {
  background-color: #b5b5e7;
}

main section .book .infor {
  padding-top: 20px;
}

main section .book .infor i {
  color: #de2454;
  margin-right: 5px;
}

main section .book .infor span {
  color: #de2454;
  font-size: 20px;
}

main section .book .buy {
  margin-top: 30px;
}

main section .book .buy button {
  color: white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 6px 35px;
  text-decoration: none;
  box-shadow: 0px 0px 12px 0px rgba(74, 50, 50, 0.3);
}

main section .book .buy button img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

main section .text-book {
  margin-top: 50px;
  margin-bottom: 100px;
}

main section .text-book .col.col-3 {
  box-sizing: border-box;
  border: 5px solid gray;
  background-color: #d3c2c2;
}

main section .text-book .col.col-3 .top-mark {
  background-color: black;
  padding: 30px 15px;
}

main section .text-book .col.col-3 .top-mark img {
  width: 100%;
}

main section .text-book .col.col-3 .col.col-12 {
  border-bottom: 1px solid red;
}

main section .text-book .col.col-3 .col.col-12:nth-child(2) {
  text-align: center;
}

main section .text-book .col.col-3 .col.col-12:nth-child(2) h4 {
  font-size: 19px;
  padding-top: 12px;
  color: darkgray;
}

main section .text-book .col.col-3 .col.col-12:nth-child(2) h6 {
  font-size: 11px;
  padding: 10px;
}

main section .text-book .col.col-3 .col.col-12:nth-child(3) {
  text-align: center;
}

main section .text-book .col.col-3 .col.col-12:nth-child(3) h4 {
  font-size: 17px;
  padding-top: 12px;
  color: darkgray;
}

main section .text-book .col.col-3 .col.col-12:nth-child(3) h4 span {
  color: red;
}

main section .text-book .col.col-3 .col.col-12:nth-child(3) h1 {
  font-size: 40px;
  color: red;
}

main section .text-book .col.col-3 .col.col-12:nth-child(5) {
  height: 400px;
  overflow: scroll;
}

main .slide-category-book {
  margin-top: 50px;
}

main .slide-category-book .title-book img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}

main .slide-category-book .title-book a.text {
  text-decoration: none;
  font-size: 34px;
  font-family: GT Super Bold, serif;
  color: #2b0f42;
  letter-spacing: -0.6px;
  line-height: 37px;
  font-weight: bold;
  width: 980px;
  display: inline-block;
}

main .slide-category-book .title-book a.more {
  background-color: #de2454;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 30px;
  padding: 6px 15px;
  float: right;
  text-decoration: none;
}

main .slide-category-book .list-book-img {
  margin: 15px 0 100px 0;
  width: 100%;
  overflow-x: hidden;
  overflow-x: scroll;
  position: relative;
}

main .slide-category-book .list-book-img .list {
  display: flex;
  width: auto;
}

main .slide-category-book .list-book-img .list .book {
  box-sizing: border-box;
  margin: 3px 5px;
  box-shadow: 0px 0px 12px 0px rgba(74, 50, 50, 0.55);
}

main .slide-category-book .list-book-img .list .book img {
  box-sizing: border-box;
  border-radius: 5px;
  width: 170px;
  display: block;
}

main .slide-category-book .list-book-img .list .book img:hover {
  box-shadow: 0px 0px 29px 0px rgba(53, 62, 99, 0.65);
  width: 174px;
}

main .slide-category-book .list-book-img .button-control {
  position: absolute;
  width: 100%;
  top: 40%;
}

main .slide-category-book .list-book-img .button-control div {
  z-index: 100;
}

main .slide-category-book .list-book-img .button-control div:first-child {
  margin-left: -33px;
  float: left;
}

main .slide-category-book .list-book-img .button-control div:last-child {
  float: right;
  margin-right: -33px;
}

footer .bottom-footer {
  padding: 70px !important;
  background-color: #2b0f42;
}

footer .bottom-footer .nav.flex-column li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 2;
}

footer .bottom-footer .nav.icon-bottom {
  margin-top: 7px;
}

footer .bottom-footer .nav.icon-bottom li i {
  color: white;
  margin-right: 7px;
  font-weight: bold;
  font-size: 20px;
}

footer .bottom-footer form.search {
  padding: 5px 0px 5px 15px;
  border-radius: 30px;
  width: 300px;
  margin: auto;
  display: block;
  margin-top: 65px;
  background-color: white;
}

footer .bottom-footer form.search input {
  width: 230px;
  height: 40px;
  border: transparent;
}

footer .bottom-footer form.search button {
  background-color: transparent;
  border: none;
}

footer .bottom-footer form.search button img {
  width: 40px;
}

footer .bottom-footer .logo p {
  color: #837391;
  font-weight: 700;
  font-size: 13px;
}

footer .bottom-footer .nav.button {
  margin-top: 10px;
}

footer .bottom-footer .nav.button button {
  background-color: #de2454;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 25px;
  border-radius: 30px;
  margin-right: 10px;
}
