        $font-famyli1:'Orelega One',
        cursive;
        $font-famyli2:'';
        $font-famyli3:'';
        $color-main:white;
        $color-text-category:#2b0f42;
        $color-text:#ffeee6;
        $background-color-button:#de2454;
        $background-footer-top:#ffeee6;
        $background-footer-bottom:#2b0f42;
        header {
            nav.navbar {
                // position: fixed;
                .navbar-brand {
                    img {
                        width: 60px;
                        height: 60px;
                        border-radius: 30px;
                    }
                }
                .navbar-text {
                    text-decoration: none;
                    font-size: 25px;
                    font-family: GT Super Bold, serif;
                    color: #2b0f42;
                    letter-spacing: -0.6px;
                    line-height: 30px;
                    font-weight: bold;
                    width: 500px;
                    display: inline-block;
                }
                background-color: $color-main;
                ul {
                    padding-top: 10px;
                    list-style: none;
                    li {
                        a {
                            font-family: $font-famyli1;
                            font-size: 15px;
                            color: gray!important;
                            i {
                                color: gray;
                                font-weight: 500;
                            }
                        }
                        &:last-child {
                            a {
                                font-size: 25px;
                                padding-top: 4px;
                            }
                        }
                    }
                }
            }
        }
        
        main {
            .alert {
                margin: 0!important;
            }
            .total-infor {
                border-width: 1px 0 1px 0;
                border-color: gray;
                border-style: solid;
                a {
                    display: inline-block;
                    padding: 5px;
                }
            }
            section {
                margin-top: 50px;
                .book {
                    img {
                        width: 100%;
                        border-radius: 5px;
                        box-shadow: 0px 0px 12px 0px rgba(74, 50, 50, 0.55);
                    }
                    .title {
                        margin-top: 20px;
                        text-decoration: none;
                        font-size: 34px;
                        font-family: GT Super Bold, serif;
                        color: #2b0f42;
                        letter-spacing: -0.6px;
                        line-height: 37px;
                        font-weight: bold;
                        width: 700px;
                        display: inline-block;
                    }
                    .author {
                        color: rgb(184, 167, 167);
                        margin: 20px auto;
                        span {
                            color: green;
                        }
                    }
                    .format {
                        .title {
                            color: red;
                            margin: 0 0 15px 0;
                            font-size: 23px;
                        }
                        .box {
                            div.col {
                                border-radius: 7px;
                                border: 1px solid $color-text-category;
                                box-sizing: border-box;
                                width: 22%;
                                margin-right: 15px;
                                margin-left: 15px;
                                padding: 15px 15px;
                                box-shadow: 0px 0px 12px 0px rgba(74, 50, 50, 0.45);
                                p {
                                    color: blue;
                                    margin: 2px;
                                }
                                span {
                                    font-size: 15px;
                                    font-weight: bold;
                                    del {
                                        color: $background-color-button;
                                        margin-right: 5px;
                                    }
                                }
                                &:first-child {
                                    background-color: rgb(181, 181, 231);
                                }
                            }
                        }
                    }
                    .infor {
                        padding-top: 20px;
                        i {
                            color: $background-color-button;
                            margin-right: 5px;
                        }
                        span {
                            color: $background-color-button;
                            font-size: 20px;
                        }
                    }
                    .buy {
                        margin-top: 30px;
                        button {
                            img {
                                width: 25px;
                                height: 25px;
                                margin-right: 5px;
                            }
                            color: white;
                            font-size: 17px;
                            font-weight: 600;
                            border-radius: 30px;
                            text-transform:uppercase;
                            padding: 6px 35px;
                            text-decoration: none;
                            box-shadow: 0px 0px 12px 0px rgba(74, 50, 50, 0.30);
                        }
                    }
                }
                .text-book {
                    margin-top: 50px;
                    margin-bottom: 100px;
                    .col.col-3 {
                        box-sizing: border-box;
                        border: 5px solid gray;
                        background-color: rgb(211, 194, 194);
                        .top-mark {
                            background-color: black;
                            padding: 30px 15px;
                            img {
                                width: 100%;
                            }
                        }
                        .col.col-12 {
                            border-bottom: 1px solid red;
                            &:nth-child(2) {
                                text-align: center;
                                h4 {
                                    font-size: 19px;
                                    padding-top: 12px;
                                    color: darkgray;
                                }
                                h6 {
                                    font-size: 11px;
                                    padding: 10px;
                                }
                            }
                            &:nth-child(3) {
                                text-align: center;
                                h4 {
                                    font-size: 17px;
                                    padding-top: 12px;
                                    color: darkgray;
                                    span {
                                        color: red;
                                    }
                                }
                                h1 {
                                    font-size: 40px;
                                    color: red;
                                }
                            }
                            &:nth-child(5) {
                                height: 400px;
                                overflow: scroll;
                            }
                        }
                    }
                    .col.col-8 {}
                }
            }
            .slide-category-book {
                margin-top: 50px;
                .title-book {
                    img {
                        width: 70px;
                        height: 70px;
                        border-radius: 35px;
                    }
                    a.text {
                        text-decoration: none;
                        font-size: 34px;
                        font-family: GT Super Bold, serif;
                        color: #2b0f42;
                        letter-spacing: -0.6px;
                        line-height: 37px;
                        font-weight: bold;
                        width: 980px;
                        display: inline-block;
                    }
                    a.more {
                        background-color: #de2454;
                        color: white;
                        font-size: 17px;
                        font-weight: 600;
                        border-radius: 30px;
                        padding: 6px 15px;
                        float: right;
                        text-decoration: none;
                    }
                }
                .list-book-img {
                    margin: 15px 0 100px 0;
                    width: 100%;
                    overflow-x: hidden;
                    overflow-x: scroll;
                    position: relative;
                    .list {
                        display: flex;
                        width: auto;
                        .book {
                            box-sizing: border-box;
                            margin: 3px 5px;
                            img {
                                box-sizing: border-box;
                                border-radius: 5px;
                                width: 170px;
                                display: block;
                                &:hover {
                                    box-shadow: 0px 0px 29px 0px rgba(53, 62, 99, 0.65);
                                    width: 174px;
                                }
                            }
                            box-shadow: 0px 0px 12px 0px rgba(74, 50, 50, 0.55);
                        }
                    }
                    .button-control {
                        position: absolute;
                        width: 100%;
                        top: 40%;
                        div {
                            z-index: 100;
                            &:first-child {
                                margin-left: -33px;
                                float: left;
                            }
                            &:last-child {
                                float: right;
                                margin-right: -33px;
                            }
                        }
                    }
                }
            }
        }
        
        footer {
            .bottom-footer {
                padding: 70px!important;
                background-color: $background-footer-bottom;
                .nav.flex-column {
                    li {
                        a {
                            color: white;
                            text-transform: uppercase;
                            text-decoration: none;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 2;
                        }
                    }
                }
                .nav.icon-bottom {
                    margin-top: 7px;
                    li {
                        i {
                            color: white;
                            margin-right: 7px;
                            font-weight: bold;
                            font-size: 20px;
                        }
                    }
                }
                form.search {
                    padding: 5px 0px 5px 15px;
                    border-radius: 30px;
                    width: 300px;
                    margin: auto;
                    display: block;
                    margin-top: 65px;
                    background-color: white;
                    input {
                        width: 230px;
                        height: 40px;
                        border: transparent;
                    }
                    button {
                        background-color: transparent;
                        border: none;
                        img {
                            width: 40px;
                        }
                    }
                }
                .logo {
                    p {
                        color: #837391;
                        font-weight: 700;
                        font-size: 13px;
                    }
                }
                .nav.button {
                    margin-top: 10px;
                    button {
                        background-color: #de2454;
                        color: white;
                        text-transform: uppercase;
                        font-size: 13px;
                        font-weight: 600;
                        padding: 5px 25px;
                        border-radius: 30px;
                        margin-right: 10px;
                    }
                }
            }
        }